.cart {
  background-color: #f7f7f7;
  padding: 10px 0 40px;
}

.cart__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__heading {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #005b42;
  text-transform: uppercase;
  margin-bottom: 25px;
}

@media (max-width: 1599px) {
  .cart__heading {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .cart__heading {
    font-size: 22px;
  }
}

.cart__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .cart__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart__cards {
  background-color: #fff;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

@media (max-width: 1279px) {
  .cart__cards {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

.cart__total {
  background-color: #fff;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 25px 20px;
  height: 100%;
}

@media (max-width: 1279px) {
  .cart__total {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

.nav__link {
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px transparent solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  border-bottom: 1px #000 solid;
}

.nav__delimiter {
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
  margin: 0 15px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dbdbdb;
  min-height: 200px;
  padding: 10px;
}

@media (max-width: 480px) {
  .product {
    min-height: 185px;
  }
}

.product:last-child {
  border-bottom: none;
}

.product__img {
  display: block;
  width: 150px;
}

@media (max-width: 480px) {
  .product__img {
    width: 35%;
  }
}

.product__description {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

@media (max-width: 1279px) {
  .product__description {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

@media (max-width: 1023px) {
  .product__description {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .product__description {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
}

.product__title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  margin: 0 0 3px;
}

@media (max-width: 480px) {
  .product__title {
    font-size: 22px;
    line-height: 24px;
  }
}

.product__title a {
  text-decoration: none;
  color: #005b42;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.product__title a:hover {
  color: #000;
}

.product__price {
  font-size: 24px;
}

.product__price::before {
  width: 0;
}

.product__buttons {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__button {
  font-size: 20px;
  color: #000;
  background-color: #e3e3e3;
  border: 1px solid transparent;
  padding: 7px 45px;
  margin: 0 30px;
}

@media (max-width: 1279px) and (min-width: 1023px) {
  .product__button {
    margin: 0 15px;
  }
}

@media (max-width: 768px) {
  .product__button {
    margin: 0 15px;
  }
}

@media (max-width: 580px) {
  .product__button {
    padding: 7px 25px;
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .product__button {
    display: none;
  }
}

.product__button:hover {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}

.product__button-close {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 20px;
  opacity: 0.6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 480px) {
  .product__button-close {
    display: block;
  }
}

.product__button-close:hover {
  cursor: pointer;
  opacity: 0.8;
}

.product__amount {
  font-size: 20px;
  text-align: center;
  padding: 5px;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  margin: 0 15px;
}

.inc,
.dec {
  font-size: 20px;
  color: #000;
  background-color: #e3e3e3;
  border: 1px solid transparent;
  width: 37px;
  height: 37px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.inc:hover,
.dec:hover {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}

.total__text {
  color: #2c2c2c;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.total__text span {
  font-weight: 500;
}

.total__sum {
  font-weight: 500;
}

.total__sum span {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #005b42;
  text-transform: uppercase;
}

.total__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

@media (max-width: 480px) {
  .total__promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.total__promo input {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  border: 1px solid #000;
  padding: 4px 9px;
}

.total__promo-button {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  background-color: #e3e3e3;
  border: 1px solid #000;
  border-left: none;
  padding: 4px 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 480px) {
  .total__promo-button {
    border: 1px solid #000;
    border-top: none;
    font-size: 18px;
  }
}

.total__promo-button:hover {
  background-color: transparent;
}

.total__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

@media (max-width: 1023px) {
  .total__buttons {
    display: block;
  }
}

@media (max-width: 480px) {
  .total__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.total__checkout-button {
  font-size: 14px;
  margin: 0px;
  padding: 5px 15px;
  text-decoration: none;
  margin-left: 5px;
  text-align: center;
}

@media (max-width: 1023px) {
  .total__checkout-button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .total__checkout-button {
    margin: 0;
  }
}

.total__continue-button {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 5px 15px;
  text-decoration: none;
  background-color: #e3e3e3;
  color: #2c2c2c;
  border: 1px solid transparent;
  margin-right: 5px;
  text-align: center;
}

@media (max-width: 1023px) {
  .total__continue-button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .total__continue-button {
    margin: 0 0 10px 0;
  }
}

.total__continue-button:hover {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}
/*# sourceMappingURL=cart.css.map */