$another-green: #2b7670;
$green: #005b42;
$pistachio: #d2e4d6;
$light-blue: #e8f3f5;
$light-green: #ecf2f0;

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
}

body {
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  @media (max-width: 1599px) {
    font-size: 20px;
  }
}

.wrap {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
  @media (max-width: 1599px) and (min-width: 480px) {
    padding: 0 35px;
  }
}

.primary-button {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #005b42;
  background-color: transparent;
  border: 1px #000 solid;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  @media (max-width: 1599px) {
    font-size: 20px;
  }
  &:hover {
    cursor: pointer;
    background-color: $green;
    color: #fff;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  @media (max-width: 480px) {
    padding: 15px 0;
  }
}

.logo-img {
  display: block;
  max-width: 75%;
  height: auto;
}

.header {
  background-color: $light-green;
  &__heading {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
  }
  &__search {
    form {
      position: relative;
      width: 500px;
      margin: 0 auto;
      @media (max-width: 1279px) {
        width: 435px;
      }
      @media (max-width: 1023px) {
        display: none;
      }
    }
    input {
      font-size: 22px;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      border: 1px solid #000;
      color: $green;
      outline: none;
      background: #fff;
      color: $green;
      width: 100%;
      padding: 10px 45px 10px 15px;
      @media (max-width: 1599px) {
        font-size: 20px;
      }
      @media (max-width: 1279px) {
        font-size: 18px;
        padding: 7px 45px 7px 15px;
      }
    }
    input[type="search"]::-ms-clear {
      display: none;
    }
    input[type="search"]::-webkit-search-cancel-button {
      display: none;
    }
    button {
      border: none;
      outline: none;
      background: transparent;
      height: 44px;
      width: 44px;
      position: absolute;
      right: 2px;
      cursor: pointer;
      @media (max-width: 1279px) {
        height: 38px;
        width: 38px;
      }
      &:before {
        content: "\f002";
        font-family: "Font Awesome 5 Free";
        font-size: 22px;
        font-weight: 600;
        color: $green;
        @media (max-width: 1279px) {
          font-size: 20px;
        }
      }
    }
  }
  &__links {
    display: flex;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    padding: 0 25px;
    border-right: 2px solid #000;
    span {
      color: #000;
      margin-left: 12px;
      border-bottom: 2px transparent solid;
      transition: 0.3s;
      @media (max-width: 480px) {
        display: none;
      }
      &:hover {
        border-bottom: 2px #000 solid;
      }
    }
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
    &.login-button {
      background: transparent;
      border: none;
      font-size: 22px;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      @media (max-width: 1599px) {
        font-size: 20px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__menu {
    padding: 25px 0;
    background-color: #fff;
    filter: drop-shadow(0px 10px 10px #f0efef);
    @media (max-width: 768px) {
      padding: 15px 0;
    }
  }
  &__nav {
    ul li:hover .nav-list__submenu {
      visibility: visible;
      opacity: 1;
    }
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media (max-width: 768px) {
    display: none;
  }
  &__dropdown-menu {
    color: $green;
    //border-bottom: 2px solid transparent;
    &:before {
      content: "\f0c9";
      font-family: "Font Awesome 5 Free";
      font-size: 22px;
      font-weight: 600;
      color: $green;
      margin-right: 10px;
      @media (max-width: 1599px) {
        font-size: 20px;
      }
    }
    &:hover {
      cursor: pointer;
      //border-bottom: 2px solid $green;
      //color: #000;
    }
  }
  &__submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 57px;
    padding: 20px 40px;
    left: 0;
    max-width: 250px;
    z-index: 10;
    transition: 0.3s ease-in-out;
    background-color: #fff;
    border: 2px solid #d2e4d6;
  }
  &__link {
    text-decoration: none;
    color: #000;
    position: relative;
    transition: 0.3s;
    &_green {
      color: $green;
    }
    span:before {
      position: absolute;
      width: 100%;
      height: 64%;
      z-index: -1;
      background: $pistachio;
      left: 12px;
      top: 15px;
      content: "";
      transition: 0.3s;
      @media (max-width: 1023px) {
        display: none;
      }
    }
    &:hover {
      color: $green;
      span:before {
        width: 110%;
        height: 74%;
        background: $light-green;
        left: 16px;
        top: 16px;
      }
    }
  }
}

.submenu {
  &__item {
    margin-top: 5px;
  }
  &__link {
    color: #000;
    text-decoration: none;
    border-bottom: 1px transparent solid;
    transition: 0.3s;
    font-weight: 300;
    &:hover {
      border-bottom: 1px #000 solid;
    }
  }
}

.burger-menu {
  &__button {
    display: none;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 22px;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    color: $green;
    @media (max-width: 768px) {
      display: block;
    }
    @media (max-width: 480px) {
      font-size: 20px;
    }
  }
  &__list {
    display: none;
  }
}

.page-section {
  background-color: #f7f7f7;
  &__heading {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: $green;
    text-transform: uppercase;
    margin-bottom: 25px;
    @media (max-width: 1599px) {
      font-size: 26px;
    }
  }
  &__description {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: justify;
    margin: 20px 0;
    @media (max-width: 1599px) {
      font-size: 20px;
      margin: 15px 0;
    }
  }
}

.company-block {
  padding: 90px 0 10px;
  @media (max-width: 480px) {
    padding-top: 45px;
  }
}

.benefits-block {
  padding: 30px 0 40px;
}

.new-block {
  padding: 55px 0 60px;
}

.popular-block {
  background-color: #fff;
  padding: 55px 0 15px;
}

.slider {
  position: relative;
  overflow: hidden;
  margin: 40px 0 0;
  &__item {
    flex: 0 0 25%;
    max-width: 25%;
    max-height: 555px;
    &-wrapper {
      background-color: #fff;
      height: 100%;
      transition: transform 0.3s;
      margin: 0 25px;
      &:hover {
        transform: scale(1.025);
      }
    }
  }
  &__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }
}

.slick-arrow {
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  border: none;
  text-align: center;
  opacity: 0.7;
  height: 50px;
  transform: translateY(-50%);
  background: #005b42;
  z-index: 1;
  @media (max-width: 768px) {
    width: 35px;
    height: 40px;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.8;
    cursor: pointer;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-arrow::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slick-prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slick-next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.product {
  color: #000;
  text-decoration: none;
  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  &__description {
    padding: 0 10px 1px;
  }
  &__title {
    font-size: 22px;
    margin: 15px 0;
    @media (max-width: 1599px) {
      font-size: 20px;
    }
  }
  &__category {
    font-size: 18px;
    font-weight: 400;
    color: $green;
    text-transform: uppercase;
    @media (max-width: 1599px) {
      font-size: 16px;
    }
  }
  &__country {
    font-size: 18px;
    margin-bottom: 15px;
    color: $green;
    @media (max-width: 1599px) {
      font-size: 16px;
    }
  }
  &__price {
    display: inline-block;
    font-size: 30px;
    z-index: 1;
    position: relative;
    @media (max-width: 1599px) {
      font-size: 26px;
    }
    &:before {
      position: absolute;
      width: 100%;
      height: 64%;
      z-index: -1;
      background: $pistachio;
      left: 11px;
      top: 16px;
      content: "";
      transition: 0.3s;
    }
    span {
      font-size: 24px;
      @media (max-width: 1599px) {
        font-size: 22px;
      }
    }
  }
  &__button {
    display: block;
    padding: 7px 72px;
    margin: 25px auto;
    @media (max-width: 1599px) {
      padding: 7px 55px;
    }
    @media (max-width: 768px) {
      padding: 5px 25px;
    }
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}

.footer {
  background-color: #fff;
  &-block {
    h2 {
      display: inline-block;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 15px;
      color: #000;
      position: relative;
      z-index: 1;
      @media (max-width: 1599px) {
        font-size: 26px;
      }
      span:before {
        position: absolute;
        width: 100%;
        height: 70%;
        z-index: -1;
        background: #d2e4d6;
        left: 13px;
        top: 13px;
        content: "";
      }
    }
  }
  &__warning {
    flex-basis: 40%;
  }
  &__logo {
    text-align: end;
    display: block;
  }
}

.warning__text {
  //font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
  margin: 20px 0;
  @media (max-width: 1599px) {
    font-size: 16px;
  }
}

.categories {
  &__item {
    color: #000;
    font-size: 22px;
    font-weight: 300;
    margin-top: 5px;
    @media (max-width: 1599px) {
      font-size: 20px;
    }
  }
  &__link {
    color: #000;
    text-decoration: none;
    border-bottom: 1px transparent solid;
    transition: 0.3s;
    &:hover {
      border-bottom: 1px #000 solid;
    }
  }
}

.contacts {
  &__item {
    color: #000;
    font-size: 22px;
    font-weight: 300;
    margin-top: 5px;
    @media (max-width: 1599px) {
      font-size: 20px;
    }
    span {
      font-weight: 400;
    }
  }
  &__link {
    color: #000;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px transparent solid;
    transition: 0.3s;
    &:hover {
      border-bottom: 2px #000 solid;
    }
  }
}

.confirm-overlay,
.stop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: 0.35s ease-in-out;
  z-index: 999;
  animation: fade 0.6s;
  overflow: auto;
  &.open {
    opacity: 1;
  }
}

.popup {
  text-align: center;
  top: 25%;
  left: 0;
  right: 0;
  font-size: 14px;
  margin: auto;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
  position: absolute;
  padding: 30px 25px;
  border: 1px solid #383838;
  background: #fefefe;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  animation: fade 0.6s;
  opacity: 0;
  transition: 0.35s ease-in-out;
  &.open {
    opacity: 1;
  }
  &__heading {
    font-size: 40px;
    font-weight: 400;
    color: $green;
    margin-bottom: 15px;
    @media (max-width: 1599px) {
      font-size: 34px;
    }
  }
  &__text {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 300;
  }
  &__button-group {
    display: flex;
    justify-content: center;
    &_column {
      flex-direction: column;
    }
  }
  &__button {
    padding: 7px 40px;
    margin: 30px 30px 0;
    &_red {
      color: #b80000;
      &:hover {
        background-color: #b80000;
      }
    }
  }
}

.button-entity {
  text-decoration: none;
}

.button-individual,
.button-entity {
  color: #000;
}
