$green: #005b42;
$pistachio: #d2e4d6;

.catalog {
  background-color: #f7f7f7;
  padding: 10px 0 40px;
  &__nav {
    display: flex;
    margin: 15px 0 25px;
    align-items: center;
  }
  &__heading {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: $green;
    text-transform: uppercase;
    margin-bottom: 0px;
    @media (max-width: 1599px) {
      font-size: 26px;
    }
    @media (max-width: 480px) {
      font-size: 22px;
    }
  }
  &__sorting {
    display: flex;
    margin-bottom: 25px;
  }
  &__container {
    display: flex;
  }
  &__filters {
    width: 25%;
    margin-right: 10px;
    @media (max-width: 1023px) {
      display: none;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    @media (max-width: 1023px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
  &__item {
  }
}

.dropdown-filters {
  display: none;
  margin-bottom: 10px;
  @media (max-width: 1023px) {
    display: block;
  }
  &__button {
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #005b42;
    text-transform: uppercase;
  }
  &__content {
    display: none;
  }
  &:hover .dropdown-filters__content {
    display: block;
  }
}

.primary-select {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  text-transform: lowercase;
  @media (max-width: 480px) {
    font-size: 18px;
  }
  option {
    font-weight: 300;
  }
}
.sorting {
  &__text {
    font-size: 20px;
    margin-right: 5px;
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
}

.product {
  width: calc(33.333% - 45px);
  background-color: #fff;
  margin: 10px 7.5px 20px;
  padding: 20px 15px;
  transition: 0.3s;
  @media (max-width: 768px) {
    width: 30%;
    margin: 10px 6.5px 20px;
    padding: 0px 0px 20px;
  }
  @media (max-width: 480px) {
    width: 100%;
    margin: 10px 0;
    padding: 0 0 20px;
  }
  &:hover {
    transform: scale(1.025);
  }
  &__link {
    color: #000;
    text-decoration: none;
  }
  &__img {
    width: 100%;
  }
  &__title {
    margin-bottom: 0;
  }
  &__count {
    margin-bottom: 15px;
    font-size: 16px;
  }
  &__button {
    margin-bottom: 0;
    @media (max-width: 480px) {
      padding: 7px 85px;
    }
  }
}

.nav {
  &__link {
    font-family: "Roboto Condensed", sans-serif;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px transparent solid;
    transition: 0.3s;
    &:hover {
      border-bottom: 1px #000 solid;
    }
  }
  &__delimiter {
    font-family: "Roboto Condensed", sans-serif;
    color: #000;
    margin: 0 15px;
  }
}

.filters {
  &__form {
    background-color: #fff;
    margin-top: 10px;
    padding: 20px 15px;
  }
  &__button {
    padding: 7px 35px;
    margin: 20px 0;
  }
  &__select {
    width: 95%;
  }
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #c6aee7;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #6200ee;
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #6200ee;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
.slider > .thumb.left {
  left: 25%;
  transform: translate(-15px, -10px);
}
.slider > .thumb.right {
  right: 25%;
  transform: translate(15px, -10px);
}
.slider > .thumb.hover {
  box-shadow: 0 0 0 20px rgba(98, 0, 238, 0.1);
}
.slider > .thumb.active {
  box-shadow: 0 0 0 40px rgba(98, 0, 238, 0.2);
}

input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
