.catalog {
  background-color: #f7f7f7;
  padding: 10px 0 40px;
}

.catalog__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__heading {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #005b42;
  text-transform: uppercase;
  margin-bottom: 0px;
}

@media (max-width: 1599px) {
  .catalog__heading {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .catalog__heading {
    font-size: 22px;
  }
}

.catalog__sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__filters {
  width: 25%;
  margin-right: 10px;
}

@media (max-width: 1023px) {
  .catalog__filters {
    display: none;
  }
}

.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
}

@media (max-width: 1023px) {
  .catalog__items {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .catalog__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.primary-select {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  text-transform: lowercase;
}

@media (max-width: 480px) {
  .primary-select {
    font-size: 18px;
  }
}

.primary-select option {
  font-weight: 300;
}

.sorting__text {
  font-size: 20px;
  margin-right: 5px;
}

@media (max-width: 480px) {
  .sorting__text {
    font-size: 18px;
  }
}

.product {
  width: calc(33.333% - 45px);
  background-color: #fff;
  margin: 10px 7.5px 20px;
  padding: 20px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .product {
    width: 30%;
    margin: 10px 6.5px 20px;
    padding: 0px 0px 20px;
  }
}

@media (max-width: 480px) {
  .product {
    width: 100%;
    margin: 10px 0;
    padding: 0 0 20px;
  }
}

.product:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.product__link {
  color: #000;
  text-decoration: none;
}

.product__img {
  width: 100%;
}

.product__title {
  margin-bottom: 0;
}

.product__count {
  margin-bottom: 15px;
  font-size: 16px;
}

.product__button {
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .product__button {
    padding: 7px 85px;
  }
}

.nav__link {
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px transparent solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  border-bottom: 1px #000 solid;
}

.nav__delimiter {
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
  margin: 0 15px;
}

.filters__form {
  background-color: #fff;
  margin-top: 10px;
  padding: 20px 15px;
}

.filters__button {
  padding: 7px 35px;
  margin: 20px 0;
}

.filters__select {
  width: 95%;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}

.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #c6aee7;
}

.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #6200ee;
}

.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #6200ee;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
          box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.slider > .thumb.left {
  left: 25%;
  -webkit-transform: translate(-15px, -10px);
          transform: translate(-15px, -10px);
}

.slider > .thumb.right {
  right: 25%;
  -webkit-transform: translate(15px, -10px);
          transform: translate(15px, -10px);
}

.slider > .thumb.hover {
  -webkit-box-shadow: 0 0 0 20px rgba(98, 0, 238, 0.1);
          box-shadow: 0 0 0 20px rgba(98, 0, 238, 0.1);
}

.slider > .thumb.active {
  -webkit-box-shadow: 0 0 0 40px rgba(98, 0, 238, 0.2);
          box-shadow: 0 0 0 40px rgba(98, 0, 238, 0.2);
}

input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
/*# sourceMappingURL=catalog.css.map */