.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-animation: fade 0.6s;
          animation: fade 0.6s;
}

.login-overlay.open {
  opacity: 1;
}

.login-form {
  z-index: 15;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 600px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-form.open {
  opacity: 1;
}

.login-form__toggle {
  z-index: 10;
  position: absolute;
  top: 60px;
  right: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(0, -25%) scale(0);
          transform: translate(0, -25%) scale(0);
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-form__toggle:before, .login-form__toggle:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 4px;
  background: #005b42;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login-form__toggle:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.login-form__toggle:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.login-form__toggle.visible {
  -webkit-transform: translate(0, -25%) scale(1);
          transform: translate(0, -25%) scale(1);
  opacity: 1;
}

.login-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px;
}

.login-form__group:last-child {
  margin: 0;
}

.login-form__group label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.two .login-form__group label {
  color: #fff;
}

.login-form__group input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-form__group input:focus {
  color: rgba(0, 0, 0, 0.8);
}

.two .login-form__group input {
  color: #fff;
}

.two .login-form__group input:focus {
  color: #fff;
}

.login-form__group button {
  background: #005b42;
  width: 100%;
  border: 1px solid transparent;
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
}

.login-form__group button:hover {
  background: #fff;
  color: #005b42;
  border: 1px solid black;
}

.two .login-form__group button {
  background: #fff;
  color: #005b42;
  border: 1px solid transparent;
}

.two .login-form__group button:hover {
  background: #005b42;
  color: #fff;
  border: 1px solid #fff;
}

.login-form__group .login-form__remember {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}

.login-form__group .login-form__remember input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0;
}

.login-form__group .login-form__recovery {
  color: #005b42;
  font-size: 12px;
  text-decoration: none;
}

.login-form__panel {
  padding: 60px calc(5% + 60px) 60px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-form__panel.one:before {
  content: "";
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-form__panel.one.hidden:before {
  display: block;
  opacity: 1;
  visibility: visible;
}

.login-form__panel.two {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 95%;
  background: #005b42;
  width: 100%;
  min-height: 100%;
  padding: 60px calc(10% + 60px) 60px 60px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.login-form__panel.two:before, .login-form__panel.two:after {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 1.5%;
  background: rgba(255, 255, 255, 0.2);
  height: 30px;
  width: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-form__panel.two:after {
  left: 3%;
}

.login-form__panel.two:hover {
  left: 93%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form__panel.two:hover:before, .login-form__panel.two:hover:after {
  opacity: 0;
}

.login-form__panel.two.active {
  left: 10%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.login-form__panel.two.active:before, .login-form__panel.two.active:after {
  opacity: 0;
}

.login-form__header {
  margin: 0 0 40px;
}

.login-form__header h1 {
  padding: 4px 0;
  color: #005b42;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.two .login-form__header h1 {
  position: relative;
  z-index: 40;
  color: #fff;
}

.pen-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  margin: 20px auto 100px;
}

.pen-footer a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.pen-footer a .material-icons {
  width: 12px;
  margin: 0 5px;
  vertical-align: middle;
  font-size: 12px;
}

.cp-fab {
  background: #fff !important;
  color: #005b42 !important;
}
/*# sourceMappingURL=login.css.map */